*{box-sizing: border-box;}
:root{
  --numbers-button: #7d7d82;
  --signs-button: #296278;
  --clear-button: #FD823F;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main-container{
  display: grid;
  grid-template-areas: "m";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #347B98; /* #31b4e8; */
}
#calculator-container{
  border: 0px outset blue;
  border-radius: 10px;
  grid-area: m;
  display: grid;
  grid-template-areas: "ds" "bp";
  grid-template-columns: 1fr;
  grid-template-rows: minmax(50px, 1fr) 5fr;
  align-content: center;
  justify-content: center;
  width: 300px;
  height: 500px;
  padding: 20px;
  grid-gap: 20px;
  background-color: #82CCE9; /* #D4EDF7;  #104256; */
  box-shadow: 6px 6px 8px #13536c;


}
#display{
  grid-area: ds;
  border: 4px inset grey;
  border-radius: 6px;
  text-align: right;
  padding: 8px;
  background-color:  #f2f2f3;
  color: #291307;
  font-weight: bold;
}
#button-pad{
  grid-area: bp;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "cl dv mt sb"
                       "sv eg ni ad"
                       "fu fi sx ad"
                       "on tw tr eq"
                       "zr zr dt eq";
  grid-gap: 10px;
  justify-content: center;

}

#clear {
  grid-area: cl;
  background-color: var(--clear-button); /*    #913D10; */
 }
#one, #two, #three, #four, #five, #six, #seven,
#eight, #nine, #zero, #decimal{ background-color: var(--numbers-button);}
#divide, #multiply, #subtract, #add, #equals{ background-color: var(--signs-button);}
#divide {grid-area: dv;}
#multiply {grid-area: mt;}
#subtract {grid-area: sb;}
#seven {grid-area: sv;}
#eight {grid-area: eg;}
#nine {grid-area: ni;}
#add {grid-area: ad;}
#four {grid-area: fu;}
#five {grid-area: fi;}
#six {grid-area: sx;}
#one {grid-area: on;}
#two {grid-area: tw;}
#three {grid-area: tr;}
#zero {grid-area: zr;}
#decimal {grid-area: dt;}
#equals {grid-area: eq;}
button{
  border: 3px outset  #4b4b4e;
  border-radius: 8px;
  font-weight: bold;
  font-size: 19px;
  color: white;
  box-shadow: 2px 2px 3px #13536c;
}
